@import '../../theme.scss';

.layout-container {
  background-image: url('./background.jpg');
  background-position: top;
  background-size: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-brand h2 {
  margin-right: 25px;
  &:before {
    content: '$';
    display: inline-block;
    margin-right: 10px;
    color: $white;
    background-color: $green;
    border-radius: 25px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 32px;
    font-size: 25px;
  }
}

.section {
  height: 100%;
  flex-grow: 1;
}
