.currency-grid {
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  column-gap: 1.3%;
  // row-gap: 1%;
}

.converter-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
